<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Group Chat</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			$(document).ready( () => {
				var socket = io.connect();

				let username = prompt('Please select a username');

				socket.on("new_user", (data) => {
					var messages = data.messages;
					for (let i = 0; i < messages.length; i++){
						$("#messages").append("<h4>" + messages[i].user + ": " + messages[i].message + "</h4>");
					}
				})

				$("button[name='submit_message']").click( () => {
					let message = $("textarea").val()
					$("textarea").val("")
					$("#messages").append("<h4>"+ username + ": " + message + "</h4>")
					socket.emit("new_message", {user: username, message: message})
				})

				socket.on("add_message", (data) => {
					$("#messages").append("<h4>" + data.new_message + "</h4>");
				})
			});
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<h1>Group Chat</h1>
			</div>
			<div id="group_chat">
				<h2>Conversation</h2>
				<div id="messages">
					<!-- Previous and new messages will appear here -->
				</div>
				<textarea name="new_message" rows="1" cols="80"></textarea><button type="submit" name="submit_message">Send</button>
			</div>


		</div>
	</body>
</html>
